@page "/armala"
@using PizzaBlazor.Shared.Models;

<h3> Armala tu mismo </h3>

    <div class="row">

        <div class="col-6">
            @if (tamanos != null)
            {
            <select class="form-select" aria-label="Default select example" onchange="TamanoFunc">
                <option selected disabled>Selecciona el tamano</option>
                @foreach (var item in tamanos)
                {
                    <option value=item.Id>@item.Tamano</option>
                }

                }
            </select>

        }
        @if (tamanoSeleccionado)

            @if (tiposMasa != null)
            {
                <select class="form-select" aria-label="Default select example" onchange="TipoFunc">
                    <option selected disabled>Selecciona el tipo de masa</option>
                    @foreach (var item in tiposMasa)
                    {
                        <option value=item.Id>@item.Tipo</option>
                    }

             }
                </select>
                }
                }
        @if (ingredienteSeleccionado.id > 0)
        {


            @foreach(var item in ingredientes)
            {
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        @item.Nombre
                    </label>
                </div>
            }
            


   
        }

        <div class="col-6">
            @tamanoSeleccionado.Tamano
            @tamanoSeleccionado.Precio

            <br />
            @tipoSeleccionado.Tipo
            @tipoSellecionado.Precio

            <br />
            @ingredienteSeleccionado.Nombre
            @ingredienteSeleccionado.Precio
        </div>

    </div>





                @code {
                List<Tamanos> tamanos = new List<Tamanos>();
                List<TipoMasa> tiposMasa = new List<TipoMasa>();
                List<Ingrediente> tipoIngrediente = new List<Ingrediente>();
                List<Tamanos> tamanoSeleccionado = new Tamanos();
                List<TipoMasa> tipoSeleccionado = new TipoMasa();

    protected override async Task OnInitializedAsync()
            {
                tamanos = new List<Tamanos>()
        {
            new Tamanos{Id=1, tamanos="Personal", Precio = 10.0f},
            new Tamanos{Id=2, tamanos="Chica", Precio = 20.0f},
            new Tamanos{Id=3, tamanos="Mediana", Precio = 30.0f},
            new Tamanos{Id=4, tamanos="Grande", Precio = 40.0f}
        };

                tiposMasa = new List<TipoMasa>()
        {
            new TipoMasa{Id=1, tipoMasa="Tradicional", Precio = 20.0f},
            new TipoMasa{Id=2, tipoMasa="Crunch", Precio = 25.0f},
            new TipoMasa{Id=3, tipoMasa="Orilla de queso", Precio = 35.0f},
            new TipoMasa{Id=4, TipoMasa="Sarten", Precio = 15.0f}
        };

                ingredientes = new List<Ingrediente>()
        {
            new Ingrediente{Id=1, Nombre="Jamon", Precio = 10.0f},
            new Ingrediente{Id=2, Nombre="Piña", Precio = 18.0f},
            new Ingrediente{Id=3, Nombre="Atun", Precio = 23.0f},
            new Ingrediente{Id=4, Nombre="Jalapeñ", Precio = 9.0f},
            new Ingrediente{Id=5, Nombre="Tocino", Precio = 15.0f},
            
        };

            }
            private void TamanoFunc(ChangeEventArgs args)
            {
                var prueba = args;
                string id = prueba.Value.ToString();
                int idint = int.Parse(id);

                tamanoSeleccionado = tamanos.where(tamano => tamano.Id == idint).FirstOrDefault();
            }

            private void TipoFunc(ChangeEventArgs args)
            {
                var prueba = args;
                string id = prueba.Value.ToString();
                int idint = int.Parse(id);

                 tiposSeleccionado = tipoMasa.where(tipoMasa => tipoMasa.Id == idint).FirstOrDefault();
                    
            }
            private void IngredienteFunc(ChangeEventArgs args)
            {
                var prueba = args;
                string id = prueba.Value.ToString();
                int idint = int.Parse(id);

               ingredienteSeleccionado = Ingrediente.where(Ingrediente => Ingrediente.Id == idint).FirstOrDefault();

            }
}
